<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">

    <style>
        body{
            display: flex;
            flex-direction: column;
            height:100vh;
            margin: 0;
            padding: 0;

        }

        .container-fluid {
            flex: 1;
        }

        .blue-background {background-color:#2957F0;}
        .white {color:#ffffff;}
        .white-background {background-color:#ffffff;}
        .btn-black{background-color:#2957F0;color: #FFF;}

    </style>

</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light  background-color.navbar-dark"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand col-md-11" >
        <a href="#" class="navbar-brand"> <p th:text="${currentUser.getEmail()} + ' with roles: '+ ${role}">with role</p> </a>
    </div>
    <div class="col-md-1 "><span class="pull-right text-light"><a href="/logout" class="text-light" >Logout</a></span></div>


</nav>

<div class ="container-fluid d-flex flex-column ">
    <div class="row flex-fill d-flex h-100 justify-content-start ">
        <div class="col-md-2 p-3 bd-highlight" >
            <div>
                <form action="/admin" method="get">
                    <button type="submit" class="btn btn-primary  btn-default btn-lg btn-block">Admin</button>
                </form>
            </div>
            <div >
                <form action="/user" method="get">
                    <button type="submit" class="btn btn-default btn-lg btn-block">User</button>
                </form>

            </div>
        </div>
        <div class="col-md-10 p-3 bd-highlight" style="background-color:#faf7f7">
            <div>  <h1> Admin Panel </h1> </div>
            <!--            <div class="row">-->
            <!--                <div class="col-xs-4">-->
            <!--                    <button value="cancel" class="btn btn-primary pull-left">Users table</button>-->
            <!--                    <button value="register" class="btn btn-default  pull-left">New users</button>-->
            <!--                    <div class="clear"></div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row">
                <!--                <div class="col-md-1"><a href="/admin"><p>Users table</p></a></div>-->
                <!--                <div class="col-md-1"><a href="/admin/add"><p>New user</p></a></div>-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/add">New User</a>
                    </li>
                </ul>
            </div>
            <div>
                <div  style="background: #eeeeea"><h3><small><b>All users </b></small></h3></div>
                <div class="p-3">
                    <table class="table table-hover white-background">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td><p th:text="${user.id}"/></td>
                                <td><p th:text="${user.firstName}"/></td>
                                <td><p th:text="${user.lastName}"/></td>
                                <td><p th:text="${user.age}"/></td>
                                <td><p th:text="${user.email}"/></td>
                                <td><p th:text="${user.getListRoles()}"/></td>
                                <td><a th:data-toggle="modal" th:data-id="${user.id}" th:data-firstName="${user.firstName}" th:data-lastName="${user.lastName}" th:data-age="${user.age}" th:data-email="${user.email}" th:data-password="${user.password}" th:data-role="${user.roles}" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#exampleModalLong">Edit</a></td>
                                <td><a th:data-toggle="modal" th:data-id="${user.id}" th:data-firstName="${user.firstName}" th:data-lastName="${user.lastName}" th:data-age="${user.age}" th:data-email="${user.email}" th:data-role="${user.roles}" title="Add this item" class="open-DeleteDel btn btn-danger" href="#ModalDelete">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" container col-8 text-center" >
                    <form th:action="@{/admin/edit}" th:method="POST">
                        <div class="form-group">
                            <label for="idToShow"><b>ID</b></label>
                            <input disabled type="text" name="idToShow" class="form-control" id="idToShow"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="firstName"><b>FirstName</b></label>
                            <input type="text" name="firstName" class="form-control" id="firstName"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="lastName"><b>LastName</b></label>
                            <input type="text" name="lastName" class="form-control" id="lastName"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="age"><b>Age</b></label>
                            <input type="text" name="age" class="form-control" id="age" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="email"><b>Email</b></label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="password"><b>Password</b></label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="role"><b>Role</b></label>
                            <input type="hidden" name="id" class="form-control" id="id" placeholder="">
                            <select multiple class="form-control" id="role" name="rolesList" size="2">
                                <option>ADMIN</option>>
                                <option>USER</option>
                            </select> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalDel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" container col-8 text-center" >
                    <form th:action="@{/admin/delete}" th:method="POST">
                        <div class="form-group">
                            <label for="idToShowD"><b>ID</b></label>
                            <input disabled type="text" name="idToShow" class="form-control" id="idToShowD"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="firstNameD"><b>FirstName</b></label>
                            <input disabled type="text" name="firstname" class="form-control" id="firstNameD"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="lastNameD"><b>LastName</b></label>
                            <input disabled type="text" name="lastname" class="form-control" id="lastNameD"  placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="ageD"><b>Age</b></label>
                            <input disabled type="text" name="age" class="form-control" id="ageD" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="emailD"><b>Email</b></label>
                            <input disabled type="email" name="email" class="form-control" id="emailD" placeholder="">
                        </div>
                        <input type="hidden" name="id" class="form-control" id="idD" placeholder="">
                        <div class="form-group">
                            <label for="roleD"><b>Role</b></label>
                            <select disabled multiple class="form-control" id="roleD" name="role" size="2">
                                <option>ADMIN</option>>
                                <option>USER</option>
                            </select> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Delete user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-AddBookDialog", function () {
        var idToShow = $(this).data('id');
        $(".modal-body #idToShow").val( idToShow );
        var name1 = $(this).data('firstname');
        $(".modal-body #firstName").val( name1 );
        var name2 = $(this).data('lastname');
        $(".modal-body #lastName").val( name2 );
        var email = $(this).data('email');
        $(".modal-body #email").val( email );
        var age1 = $(this).data('age');
        $(".modal-body #age").val( age1 );
        var password1 = $(this).data('password');
        $(".modal-body #password").val( password1 );
        var role1 = $(this).data('role');
        $(".modal-body #role").val(role1);
        var id1 = $(this).data('id');
        $(".modal-body #id").val( id1 );
    });
</script>
<script>
    $(document).on("click", ".open-DeleteDel", function () {
        var idToShow = $(this).data('id');
        $(".modal-body #idToShowD").val( idToShow );
        var name1 = $(this).data('firstname');
        $(".modal-body #firstNameD").val( name1 );
        var name2 = $(this).data('lastname');
        $(".modal-body #lastNameD").val( name2 );
        var age1 = $(this).data('age');
        $(".modal-body #ageD").val( age1 );
        var email = $(this).data('email');
        $(".modal-body #emailD").val( email );
        var password1 = $(this).data('password');
        $(".modal-body #passwordD").val( password1 );
        var role1 = $(this).data('role');
        $(".modal-body #roleD").val(role1);
        var idD = $(this).data('id');
        $(".modal-body #idD").val(idD);
    });
</script>
</body>
</html>